asgiref==3.4.1
asn1crypto==0.24.0
beautifulsoup4==4.11.1
Brlapi==0.6.7
certifi==2018.8.24
cffi==1.15.0
chardet==3.0.4
colorama==0.4.4
cryptography==2.6.1
cupshelpers==1.0
decorator==4.3.0
deepspeech==0.9.3
deprecation==2.1.0
distlib==0.3.4
distro==1.7.0
distro-info==0.21
Django==3.2.6
docopt==0.6.2
entrypoints==0.3
enum34==1.1.10
filelock==3.6.0
future==0.17.1
getdevinfo==1.1.1
halo==0.0.31
idna==2.6
importlib-metadata==4.11.3
joblib==0.14.1
keyring==17.1.1
keyrings.alt==3.1.1
log-symbols==0.0.14
louis==3.8.0
lxml==4.8.0
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
notify2==0.3
num2words==0.5.10
numpy==1.21.5
olefile==0.46
packaging==21.3
pandas==1.3.5
pexpect==4.6.0
picovoice==2.1.0
Pillow==5.4.1
platformdirs==2.5.1
playsound==1.3.0
pvporcupine==2.1.0
pvrecorder==1.0.2
pvrhino==2.1.0
pyalsaaudio==0.9.0
pyaml==19.12.0
PyAudio==0.2.11
pybind11==2.9.2
pycairo==1.16.2
pycparser==2.21
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pydub==0.25.1
Pygments==2.3.1
PyGObject==3.30.4
pyparsing==3.0.8
pysmbc==1.0.15.6
python-apt==1.8.4.3
python-crfsuite==0.9.8
python-dateutil==2.8.2
python-decouple==3.6
pytz==2021.1
pyxdg==0.25
PyYAML==6.0
reportlab==3.5.13
requests==2.21.0
scikit-learn==0.22.2.post1
scipy==1.7.3
SecretStorage==2.3.1
six==1.12.0
sklearn-crfsuite==0.3.6
slip==0.6.5
slip.dbus==0.6.5
snips-nlu==0.20.2
snips-nlu-de @ https://github.com/snipsco/snips-nlu-language-resources/releases/download/snips_nlu_de-0.2.3/snips_nlu_de-0.2.3.tar.gz
snips-nlu-metrics==0.14.6
snips-nlu-parsers==0.4.3
snips-nlu-utils==0.9.1
sounddevice==0.4.4
soupsieve==2.3.2
speak==0.1
spinners==0.0.24
sqlparse==0.4.1
tabulate==0.8.9
termcolor==1.1.0
tqdm==4.64.0
typing-extensions==3.10.0.0
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==20.14.1
webrtcvad==2.0.10
zipp==3.8.0
